<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <button onclick = "saveMember()"> 회원가입 </button>
    <button onclick = "Login()"> 로그인 </button>
    <button onclick = "saveArticle()"> 글쓰기. </button>
</body>
<script>
    function saveMember() {
        location.href = "/member/save";
    }

        function Login() {
        location.href = "/member/login";
    }

    function saveArticle() {
        location.href = "/board/save";
    }
</script>
</html>
